<% if signed_in? %>
	<div>
		<aside>
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/note_form' %>
			</section>
			<div>
				<%= render 'shared/feed' %>
			</div>
		</aside>
	</div>
<% else %>
	<div>
		<h1>Field Note</h1>
		<%= link_to "Sign up now!", 'signup_path' %>
	</div>
<% end %>