<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<div>
	<% if @user.notes.any? %>
		<h1>Notes (<%= @user.notes.count %>) </h1>
		<ol>
			<%= render @notes %>
		</ol>
		<%= will_paginate @notes %>
	<% end %>
</div>